<p>
<b>E-Mail Betreff</b>
</p>

<p>
Der Betreff muss im Klartext angegeben werden (ohne HTML). Sie k&ouml;nnen die folgenden Platzhalter verwenden:
<ul>
<li>$addedTitle: Titel der hinzugef&uuml;gten oder bewegten Seite</li>
</ul>
</p>

<p>
<b>E-Mail Nachricht</b>
</p>

<p>
Die E-Mail Nachricht selbst kann HTML-Elemente enthalten. Sie k&ouml;nnen die folgenden Platzhalter verwenden:
<ul>
<li>$userName: Name des Benuzters an den die E-Mail gerichtet ist</li>
<li>$addedTitle: Titel der hinzugef&uuml;gten oder bewegten Seite</li>
<li>$addedLink: Titel der hinzugef&uuml;gten oder bewegten Seite inkl. Link</li>
</ul>
und f&uuml;r die E-Mail bei hinzugef&uuml;gten Seiten zum Baum zus&auml;tzlich:
<ul>
<li>$watchTitle: Titel des betroffenen beobachteten Seitenbaums</li>
<li>$watchLink: Titel des betroffenen beobachteten Seitenbaums inkl. Link</li>
<li>$bodyHTML: Inhalt der Seite im HTML Format</li>
</ul>
</p>